
body {
  margin: 0;
}
.MuiContainer-maxWidthXl {
  max-width: 1275px !important;
}

@media only screen and (max-width: 2800px) {
  .MuiContainer-maxWidthXl {
    max-width: 2650px !important;
  }
}

@media only screen and (max-width: 2600px) {
  .MuiContainer-maxWidthXl {
    max-width: 2450px !important;
  }
}

@media only screen and (max-width: 2400px) {
  .MuiContainer-maxWidthXl {
    max-width: 2250px !important;
  }
}

@media only screen and (max-width: 2200px) {
  .MuiContainer-maxWidthXl {
    max-width: 2050px !important;
  }
}

@media only screen and (max-width: 2000px) {
  .MuiContainer-maxWidthXl {
    max-width: 1850px !important;
  }
}

@media only screen and (max-width: 1800px) {
  .MuiContainer-maxWidthXl {
    max-width: 1650px !important;
  }
}

@media only screen and (max-width: 1600px) {
  .MuiContainer-maxWidthXl {
    max-width: 1450px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .MuiContainer-maxWidthXl {
    max-width: 1250px !important;
  }
}

@media only screen and (max-width: 1200px) {
    .MuiContainer-maxWidthXl {
      max-width: 1050px !important;
    }
  }

@media only screen and (max-width: 1100px) {
    .MuiContainer-maxWidthXl {
      max-width: 950px !important;
    }
  }

@media only screen and (max-width: 1000px) {
    .MuiContainer-maxWidthXl {
      max-width: 850px !important;
    }
  }

@media only screen and (max-width: 900px) {
  .MuiContainer-maxWidthXl {
    max-width: 750px !important;
  }
}

@media only screen and (max-width: 800px) {
    .MuiContainer-maxWidthXl {
      max-width: 650px !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .MuiContainer-maxWidthXl {
      max-width: 550px !important;
    }
  }

@media only screen and (max-width: 600px) {
  .MuiContainer-maxWidthXl {
    max-width: 325px !important;
    margin: auto !important;
  }
}
